apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base/main
- ../base/01-rolebindings
- ../base/02-rolebindings
images:
- name: image-registry.openshift-image-registry.svc:5000/myapp-ci/myapp-runtime
  newTag: 5cbf-m5l87
